---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    I'm Urvi Mehta, a data science professional who is passionate about exploring the intersection of creativity, technology, and innovation. My journey began with an innate curiosity about the little things I encountered, which has since evolved into a mission to create cutting-edge solutions that empower individuals and organizations.
</p>
  <p>
    
    Currently, I thrive in crafting generative AI models and leveraging large language models (LLMs) to solve real-world challenges. My approach combines technical rigor with creative problem-solving. 
    Apart from this, I enjoy engaging with like-minded individuals, brainstorming ideas, and simplifying complex concepts for diverse audiences. Communication and collaboration are at the heart of all my projects and presentations.

  </p>

</div>


<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>My recent publications are updated on <a href="https://scholar.google.com/citations?hl=en&user=px1qknEAAAAJ" target="_blank">Google Scholar</a>.</p>

</div>

<div class="docs-section" id="publications"></div>
  <h4>Projects</h4>

  <ul class="tab-nav">
<!--     <li>
      <div class="button" data-ref="#papers-all">All</div>
    </li> -->
    <li>
      <div class="button" data-ref="#papers-ml">ML</div>
    </li>
    <li>
      <div class="button" data-ref="#papers-web3">Web3</div>
    </li>
  </ul>

  <div class="tab-content">
    <!--
    <div class="tab-pane active" id="papers-sel">
      {% assign papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in papers %}
      <div class="paper">
        <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
          <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
          {% endif %}
          {% if paper.slides %}
          <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
          {% endif %}
          {% if paper.poster %}
          <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
          {% endif %}
          {% if paper.video %}
          <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
          {% endif %}
          {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
          {% endif %}
        </p>
        <p>{{ paper.authors }}</p>
        <p><i>{{ paper.venue }}</i></p>
        <div class="paper-buttons">

        </div>
      </div>
      {% endfor %}
    </div>
    -->
    <!-- All PAPERS -->
<!--     <div class="tab-pane active" id="papers-all">
      {% assign papers = site.data.publications.papers %}
      {% for paper in papers %}
      <div class="paper">
        <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
          <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
          {% endif %}
          {% if paper.slides %}
          <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
          {% endif %}
          {% if paper.poster %}
          <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
          {% endif %}
          {% if paper.video %}
          <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
          {% endif %}
          {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank">GitHub</a>
          {% endif %}
        </p>
        <p>{{ paper.description }}</p>
        <p><i>{{ paper.venue }}</i></p>
        <div class="paper-buttons">

        </div>
      </div>
      {% endfor %}
    </div> -->


    <!-- ml PAPERS -->
    <div class="tab-pane active" id="papers-ml">
      {% assign nlp_papers = site.data.publications.papers | where: "ml", "y" %}
      {% for paper in nlp_papers %}
      <div class="paper">
        <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
          <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
          {% endif %}
          {% if paper.slides %}
          <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
          {% endif %}
          {% if paper.poster %}
          <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
          {% endif %}
          {% if paper.video %}
          <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
          {% endif %}
          {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
          {% endif %}
        </p>
        <p>{{ paper.description }}</p>
        <p><i>{{ paper.venue }}</i></p>
      </div>
      {% endfor %}
    </div>
    <!-- web3 Projects -->
    <div class="tab-pane" id="papers-web3">
      {% assign other_papers = site.data.publications.papers | where: "web3", "y" %}
      {% for paper in other_papers %}
      <div class="paper">
        <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
          <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
          {% endif %}
          {% if paper.slides %}
          <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
          {% endif %}
          {% if paper.poster %}
          <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
          {% endif %}
          {% if paper.video %}
          <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
          {% endif %}
          {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank">GitHub</a>
          {% endif %}
        </p>
        <p>{{ paper.description }}</p>
        <p><i>{{ paper.venue }}</i></p>
      </div>
      {% endfor %}
    </div>

  </div>
</div>


<!--
<div class="docs-section" id="teaching">
  <h4>Teaching</h4>
  {% assign current_classes = site.data.classes.classes | where: "category", "current" %}
  {% for class in current_classes %}
  <div class="class">
    <p class="title"><b>{{ class.name }}</b> ({{ class.time }}): <a href={{class.link}} target="_blank">{{ class.title
        }}</a></p>
  </div>
  {% endfor %}
</div>
-->
<!--
<div class="docs-section" id="talks">
  <h4>Talks and slides</h4>
  {% assign current_talks = site.data.talks.talks | where: "category", "current" %}
  {% for talk in current_talks %}
  <div class="talk">
    <p class="title"><b>{{ talk.name }}</b> ({{ talk.time }}): <a href={{talk.link}} target="_blank">{{ talk.title }}</a></p>
  </div>
  {% endfor %}
</div>

<div class="docs-section" id="former">
  <h4>Former Advisees</h4>


      {% assign former_people = site.data.students.students | where: "category", "former" %}
      {% for person in former_people %}
        <div class="paper">
          <p style="line-height: 0.5">
            {% if person.link %}
            <a href="{{ person.link | prepend: site.baseurl }}" target="_blank"><b>{{ person.name }}</b></a>
            {% else %}
            <b>{{ person.name }}</b>
              
              {% endif %}
               ({{ person.time }}) <i>{{ person.place }}</i>
          </p>
        </div>
      {% endfor %}
</div>
-->


<!-- Resume -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p>Full Resume in <a href={{ "urvimehta.github.io/assets/cv/MS_Resume.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>
  <h4>Experience</h4>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
        {% else %}
        <div class="direction-r">
          {% endif %}
          <div class="flag-wrapper">
            <span class="flag">{{ exp.place }}</span>
            <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
          </div>
          <div class="desc"><b>{{ exp.title }}</b> <br /> {{ exp.subtitle }}</div>
        </div>
    </li>
    {% endfor %}
  </ul>
</div>

  <div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>
  </p>

</div>
